@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
}

body {
  background-color: hsl(0, 0%, 8%);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(0, 0%, 12%);
  padding: 1.5em .5em;
  height: 45em; 
  border-radius: 1em;
}

.bio {
  img {
  width: 100px;
  border-radius: 50%;
  position: inherit;
  left: 50%;
  transform: translateX(190%);
  margin-top: 1em;
  }
  
  h1 {
    text-align: center;
    margin-bottom: .1em;
    font-weight: 600;
  }

  .bio-location {
    text-align: center;
    color: hsl(75, 94%, 57%);
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1rem;
  }

  .bio-description {
    margin-top: 2em;
    font-size: large;
    text-align: center;
    font-weight: 400;
  }
}

.links {
  a {
    text-decoration: none;
  }

  ul {
    font-weight: 600;
    list-style: none;
    text-align: center; 
    text-decoration: none;
    padding: 0 4em;
    
    :nth-child(1) {
      margin-top: 3em;
    }

    :hover {
      background-color: hsl(75, 94%, 57%);
      color: black;
    }

    li {
      background-color: hsl(0, 0%, 20%);
      padding: 1em 7em;
      margin-bottom: 1em;
      border-radius: .8em;
    }
  }
}


